<style type="text/css">
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 22px;
    }

    .alert-danger, .alert-error {
        border-color: #d73925;
    }

    .alert {
        border-radius: 3px;
    }
    .custom_check {
        position: unset !important;
        left: unset !important;
        visibility: unset !important;
    }
    tr.checked {
        background-color: #d9edf7 !important;
    }
    tr.selected {
        background-color: #5bc0de !important;
    }
    .form-group.has-error .help-block {
        color: #dd4b39;
    }
</style>
    <div id="msg_package"> </div>
    <table class="table" id="myTable">
        <thead>
            <tr id="table_th"> <th> Package</th> <th> BTC</th> <th> EU </th>  <th> USD</th></tr>
        </thead>
        <tbody>
            @Html.Raw(ViewBag.strHtmlPackage)
        </tbody>
    </table>
    <div class="form-group">
        <div class="checkbox_register icheck">
            <input class="custom_check" type="checkbox" name="terms" id="termsPackage"> <a href="/package-term-condition.html" target="_blank"> Term and condition</a>
        </div>
        <span class="help-block"> </span>
    </div>

