<div class="modal-body">
    <!-- <div class="col-lg-12"> -->
    <div class="box no-border" style="border-top:none;">
        <div class="box-body">
            <div class="form-group" style="text-align: center">
                <h5 for="qrcode" style="font-weight: 600; color:#34495e">
                    Your BTC Wallet
                    address
                </h5>
                <div class="form-group">
                    <div class="input-group input-group-md col-xs-12 col-lg-12" style="margin: 0 auto;">
                        <input type="text" value="@ViewBag.WalletAddress" class="wallet-address form-control" id="wallet-address" readonly="true">
                        <span class="input-group-btn">
                            <button class="btn btn-default btnwallet-address" data-clipboard-target="#wallet-address" title="" data-original-title="copy">
                                <i class="fa fa-clone"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <!-- Trigger -->

                <h5 for="qrcode" style="font-weight: 600; color: #34495e; margin-bottom: 0px">
                    BTC
                    Wallet link
                </h5>
                <a class="link-blockchain" href="https://blockchain.info/address/@ViewBag.WalletAddress" target="_blank">blockchain</a>, <a class="link-blockexplorer" href="https://blockexplorer.com/address/@ViewBag.WalletAddress" target="_blank">blockexplorer</a>
                <center>
                    <div id="qrcode" style="padding-bottom: 10px;" title="@ViewBag.WalletAddress"><canvas width="180" height="180" style="display: none;"></canvas><img src="@ViewBag.DataQRCode" style="display: block;"></div>
                </center>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>