<div class="modal fade in" id="deposit" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Deposit to your wallet</h4>
            </div>
            <div class="modal-body">
                <!-- <div class="col-lg-12"> -->
                <div class="box no-border" style="border-top:none;">
                    <div class="box-body">
                        <div class="form-group" style="text-align: center">
                            <h5 for="qrcode" style="font-weight: 600; color:#34495e">
                                Your BTC Wallet
                                address
                            </h5>
                            <div class="form-group">
                                <div class="input-group input-group-md col-xs-12 col-lg-8" style="margin: 0 auto;">
                                    <input type="text" value="@ViewBag.WalletAddress" class="wallet-address form-control" id="wallet-address" readonly="true">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btnwallet-address" data-clipboard-target="#wallet-address" title="" data-original-title="copy">
                                            <i class="fa fa-clone"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- Trigger -->

                            <h5 for="qrcode" style="font-weight: 600; color: #34495e; margin-bottom: 0px">
                                BTC
                                Wallet link
                            </h5>
                            <a class="link-blockchain" href="https://blockchain.info/address/@ViewBag.WalletAddress" target="_blank">blockchain</a>, <a class="link-blockexplorer" href="https://blockexplorer.com/address/@ViewBag.WalletAddress" target="_blank">blockexplorer</a>
                            <center>
                                <div id="qrcode" style="padding-bottom: 10px;" title="@ViewBag.WalletAddress"><canvas width="180" height="180" style="display: none;"></canvas><img src="@ViewBag.DataQRCode" style="display: block;"></div>
                            </center>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*<div id="over" style="display: block; background: #000; position: fixed; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.8; z-index: 999;"></div>*@
<script>

</script>