<div class="row mb-r">
    <!-- First column -->
    <div class="col-md-3 mb-1">
        <!--Card-->
        <div class="card card-cascade cascading-admin-card">

            <!--Card Data-->
            <div class="admin-up">
                <i class="fa fa-money  blue darken-3"></i>
                <div class="data">
                    <p>BTC Wallet</p>
                    <h3>@ViewBag.NumberCoin</h3>
                </div>
            </div>
            <!--/.Card Data-->
            <!--Card content-->
            @*<div class="card-block">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Better than last week (25%)</p>
            </div>*@
            <!--/.Card content-->

        </div>
        <!--/.Card-->
    </div>

    <!-- Second column -->
    <div class="col-md-3 mb-1">
        <!--Card-->
        <div class="card card-cascade cascading-admin-card">

            <!--Card Data-->
            <div class="admin-up">
                <i class="fa fa-line-chart deep-purple darken-4"></i>
                <div class="data">
                    <p>USD Wallet</p>
                    <h3>0</h3>
                </div>
            </div>
            <!--/.Card Data-->
            <!--Card content-->
            @*<div class="card-block">
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Worse than last week (25%)</p>
            </div>*@
            <!--/.Card content-->

        </div>
        <!--/.Card-->
    </div>

    <!-- Third column -->
    <div class="col-md-3 mb-1">
        <!--Card-->
        <div class="card card-cascade cascading-admin-card">

            <!--Card Data-->
            <div class="admin-up">
                <i class="fa fa-pie-chart indigo"></i>
                <div class="data">
                    <p>EU Wallet</p>
                    <h3>@ViewBag.EuCoin</h3>
                </div>
            </div>
            <!--/.Card Data-->
            <!--Card content-->
            @*<div class="card-block">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Better than last week (75%)</p>
            </div>*@
            <!--/.Card content-->

        </div>
        <!--/.Card-->
    </div>

    <!-- Fourth column -->
    <div class="col-md-3 mb-1">
        <!--Card-->
        <div class="card card-cascade cascading-admin-card">

            <!--Card Data-->
            <div class="admin-up">
                <i class="fa fa-bar-chart purple"></i>
                <div class="data">
                    <p>Holding Wallet</p>
                    <h3>0</h3>
                </div>
            </div>
            <!--/.Card Data-->
            <!--Card content-->
            @*<div class="card-block">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Better than last week (25%)</p>
            </div>*@
            <!--/.Card content-->

        </div>
        <!--/.Card-->
    </div>
</div>
