<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="IoC" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <IoC xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name ="BBH.BOS.Domain"/>
    <namespace name="BBH.BOS.Domain" />

    <container>
      <!--Register for Common module-->

      <register type="BBH.BOS.Domain.Interfaces.IIMemberService, BBH.BOS.Domain" mapTo="BBH.BOS.Respository.MemberRepository, BBH.BOS.Respository" />
      <register type="BBH.BOS.Domain.Interfaces.ITransactionWalletService, BBH.BOS.Domain" mapTo="BBH.BOS.Respository.TransactionWalletRepository, BBH.BOS.Respository" />
      <register type="BBH.BOS.Domain.Interfaces.IPackageService, BBH.BOS.Domain" mapTo="BBH.BOS.Respository.PackageRepository, BBH.BOS.Respository" />
      <register type="BBH.BOS.Domain.Interfaces.ITransactionPackageService, BBH.BOS.Domain" mapTo="BBH.BOS.Respository.TransactionPackageRepository, BBH.BOS.Respository" />
    </container>
  </IoC>

</configuration>