<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="IoC" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <IoC xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name ="BBH.BOS.Domain"/>
    <namespace name="BBH.BOS.Domain" />

    <container>
      <!--Register for Common module-->

      <register type="BBH.BOS.Domain.Interfaces.IIMemberService, BBH.BOS.Domain" mapTo="BBH.BOS.Repository.MemberRepository, BBH.BOS.Repository" />
      
    </container>
  </IoC>

</configuration>