<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Material Design Bootstrap</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link data-require="sweet-alert" data-semver="0.4.2" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.4.2/sweet-alert.min.css" />
    <script data-require="sweet-alert" data-semver="0.4.2" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.4.2/sweet-alert.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/Content/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
   

    <!-- Material Design Bootstrap -->
    <link href="/Content/css/mdb.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="/Content/css/style.css" rel="stylesheet" />
    <link href="/Content/alertify.css" rel="stylesheet" />
    <link href="/Content/css/jquery.noty.css" rel="stylesheet" />
    <link href="/Content/css/noty_theme_default.css" rel="stylesheet" />
    <link href="/Content/css/chosen/chosen.css" rel="stylesheet" />
</head>
<body class="fixed-sn white-skin">
    <header>
        <!-- Sidebar navigation -->
        <ul id="slide-out" class="side-nav fixed sn-bg-1 custom-scrollbar ps-container ps-theme-default ps-active-y" data-ps-id="aa5c5aaa-0209-cd33-bb75-75e343ef76b1" style="transform: translateX(0%);">
            <!-- Logo -->
            <li>
                <div class="user-box">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="img-fluid rounded-circle">
                    <p class="user text-center black-text">Jane Doe</p>
                </div>
            </li>
            <!--/. Logo -->
            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-code"></i> Dashboards<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="/" class="waves-effect">Home</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-pie-chart"></i> Wallet<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="/btcwallet" class="waves-effect">BTC Wallet</a>
                                </li>
                                <li>
                                    <a href="/euwallet" class="waves-effect">EU Wallet</a>
                                </li>
                                <li>
                                    <a href="/member" class="waves-effect">USD Wallet</a>
                                </li>
                                <li>
                                    <a href="/member" class="waves-effect">Holding Wallet</a>
                                </li>
                            </ul>
                        </div>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fa fa-code"></i> Creators<i class="fa fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="/member" class="waves-effect">Member</a>
                                </li>
                                <li>
                                    <a href="/package" class="waves-effect">Package</a>
                                </li>
                                <li>
                                    <a href="/packagecoin" class="waves-effect">Package_Coin</a>
                                </li>
                                <li>
                                    <a href="/coin" class="waves-effect">Coin</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-bar-chart"></i> SEO<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="seo-overview.html" class="waves-effect">Overview</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="clients.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-users"></i> Clients</a>
                    <li><a href="invoice.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-money"></i> Invoice</a>
                    <li><a href="support.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-support"></i> Support</a>
                    <li><a href="faq.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ</a>
                </ul>
            </li>
            <!--/. Side navigation links -->
            <div class="sidenav-bg mask-strong"></div>
        </ul>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar double-nav" style="background-color: #fff;">

            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars" style="color: #424242 !important;"></i></a>

            </div>

            <!-- Breadcrumb-->
            <ol class="breadcrumb hidden-lg-down" style="margin: 0 0 0 20px;">
                <li class="breadcrumb-item active"><a href="/" style="color: #000">HOME</a></li>
                @*<li class="breadcrumb-item active">Dashboard V.2</li>*@
            </ol>

            <!--Navbar links-->
            <ul class="nav navbar-nav nav-flex-icons ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: #000" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="badge red">99</span> <i class="fa fa-bell"></i>
                        <span class="hidden-sm-down">Notifications</span>
                    </a>
                    <div class="dropdown-menu header-notifications animated dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <ul>
                            <li class="active-notification">
                                <i class="fa fa-user" aria-hidden="true">
                                </i> New order received
                                <span class="float-right grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 13 min</span>
                            </li>
                            <li class="active-notification">
                                <i class="fa fa-user" aria-hidden="true">
                                </i> New order received
                                <span class="float-right grey-text">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> 51 min
                                </span>
                            </li>
                            <li class="active-notification">
                                <i class="fa fa-bullhorn" aria-hidden="true">
                                </i> Your campaign is about to end
                                <span class="float-right grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 hours</span>
                            </li>
                            <li class="active-notification">
                                <i class="fa fa-line-chart" aria-hidden="true">
                                </i> Raport is ready to be downloaded
                                <span class="float-right grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 1 day</span>
                            </li>
                            <li class="active-notification">
                                <i class="fa fa-life-saver" aria-hidden="true">
                                </i> Something else
                                <span class="float-right grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 1 day</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #000"><i class="fa fa-envelope"></i> <span class="hidden-sm-down">Contact</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #000"><i class="fa fa-comments-o"></i> <span class="hidden-sm-down">Support</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: #000" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> <span class="hidden-sm-down">@Session["Emailmember"]</span>
                    </a>
                    <div class="dropdown-menu dropdown-ins dropdown-menu-right" aria-labelledby="userDropdown">
                        @*<a class="dropdown-item" href="/login">Login</a>*@
                        <a class="dropdown-item" href="/editaccount">Edit account</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#standardModal1" href="/changepassword">Change Password</a>
                        <a class="dropdown-item" href="#" onclick="return LogoutMember()">Log Out</a>

                    </div>
                </li>
            </ul>
            <!--/Navbar links-->

        </nav>
        <!-- /.Navbar -->

    </header>
             <!--Main layout-->
            @RenderBody()
            <!--/Main layout-->
            <main class="" style="padding-top: 5.5rem; margin-left: 5%; margin-right: 5%;">
                <div class="container-fluid">

                    <!--Section: Conditions-->
                    @*<section class="section">*@

                    <section class="section section-intro">

                        <!--First row-->
                        <div class="row">
                            <!--First column-->
                            <div class="col-md-3 mb-1">
                                <!--Card Primary-->
                                <div class="card classic-admin-card card-primary">
                                    <div class="card-block">
                                        <div class="pull-right">
                                            <i class="fa fa-money"></i>
                                        </div>
                                        <p>SALES</p>
                                        <h4>2000$</h4>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="card-block">
                                        <p>Better than last week (25%)</p>
                                    </div>
                                </div>
                                <!--/.Card Primary-->
                            </div>
                            <!--/First column-->
                            <!--Second column-->
                            <div class="col-md-3 mb-1">
                                <!--Card Primary-->
                                <div class="card classic-admin-card deep-purple darken-4">
                                    <div class="card-block">
                                        <div class="pull-right">
                                            <i class="fa fa-line-chart"></i>
                                        </div>
                                        <p>SUBSCRIPTIONS</p>
                                        <h4>200</h4>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="card-block">
                                        <p>Worse than last week (25%)</p>
                                    </div>
                                </div>
                                <!--/.Card Primary-->
                            </div>
                            <!--/Second column-->
                            <!--Third column-->
                            <div class="col-md-3 mb-1">
                                <!--Card Primary-->
                                <div class="card classic-admin-card indigo">
                                    <div class="card-block">
                                        <div class="pull-right">
                                            <i class="fa fa-pie-chart"></i>
                                        </div>
                                        <p>TRAFFIC</p>
                                        <h4>20000</h4>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="card-block">
                                        <p>Better than last week (75%)</p>
                                    </div>
                                </div>
                                <!--/.Card Primary-->
                            </div>
                            <!--/Third column-->
                            <!--Fourth column-->
                            <div class="col-md-3 mb-1">
                                <!--Card Primary-->
                                <div class="card classic-admin-card purple">
                                    <div class="card-block">
                                        <div class="pull-right">
                                            <i class="fa fa-bar-chart"></i>
                                        </div>
                                        <p>ORGANIC TRAFFIC</p>
                                        <h4>2000</h4>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="card-block">
                                        <p>Better than last week (25%)</p>
                                    </div>
                                </div>
                                <!--/.Card Primary-->
                            </div>
                            <!--/Fourth column-->

                        </div>
                        <!--/First row-->

                    </section>
                    @*</section>*@
                </div>
            </main>
            @*==================================================================================================================*@
            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large red">
                    <i class="fa fa-pencil"></i>
                </a>

                <ul>
                    <li><a class="btn-floating red"><i class="fa fa-star"></i></a></li>
                    <li><a class="btn-floating yellow darken-1"><i class="fa fa-user"></i></a></li>
                    <li><a class="btn-floating green"><i class="fa fa-envelope"></i></a></li>
                    <li><a class="btn-floating blue"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            @*=======================ChangePass==============================*@
            <div class="modal fade" id="standardModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <!--Content-->

                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header white-text" style="background-color: #154771">
                            <p class="heading" contenteditable="true">Change Password</p>
                        </div>
                        <!--Body-->
                        <div class="modal-body">
                            <form>
                                <!--First row-->
                                <div class="row" style="padding:0px; margin:0px">

                                    <div class="col-md-12">
                                        <label id="lbEwallet">New Password</label>
                                        <div class="md-form" style="padding:0px; margin:0px">
                                            <input type="password" style="padding:0px; margin:0px" onfocus="ResetField(1)" id="txtNewPass" name="txtNewPass" class="form-control validate">

                                        </div>
                                        <label style="color:red" id="lbPassword"></label>
                                    </div>

                                </div>

                                <div class="row" style="padding:0px; margin:0px">

                                    <div class="col-md-12">
                                        <label id="lbEwallet">Confirm New Password</label>
                                        <div class="md-form" style="padding:0px; margin:0px">
                                            <input type="password" style="padding:0px; margin:0px" onfocus="ResetField(2)" id="txtRePass" name="txtRePass" class="form-control validate">

                                        </div>
                                        <label style="color:red" id="lbRePass"></label>
                                    </div>

                                </div>


                                <div class="row">
                                    <img src="/Images/loading.gif" id="imgLoading" style="position: absolute; display:none">
                                    <div class="col-md-12 text-center">
                                        <input type="button" style="padding:5px 30px; cursor:pointer; height:35px" onclick="ChangePassWord()" value="Confirm" class="btn-primary">
                                    </div>
                                </div>

                            </form>

                            <br>

                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <img id="imgLoadingBooking" src="/Images/loading.gif" style="display:none">
                            <a id="2lvlModal-cancel" class="btn btn-default waves-effect waves-light" onclick="CloseModal()" data-dismiss="modal" contenteditable="true">Close</a>
                            @*<a id="2lvlModal-learnMore" class="btn btn-danger" onclick="ConfirmBooking()" contenteditable="true">Confirm</a>*@

                        </div>
                    </div>

                    <!--/.Content-->
                </div>


            </div>

            @*===========================================================*@
            <!-- SCRIPTS -->
            <!-- JQuery -->
            <script src="/Content/js/jquery-3.1.1.min.js"></script>
            <script>
                $("#navigation").load("components/navigation.html");
            </script>
            <script src="/Scripts/login/login.js"></script>
            <!-- Bootstrap tooltips -->
            <script src="/Content/js/tether.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script src="/Content/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script src="/Content/js/mdb.min.js"></script>
            <script src="/Scripts/alertify.js"></script>
            <script src="/Scripts/member/member.js"></script>
            <script src="/Content/js/jquery.noty.js"></script>
            <script src="/Content/css/chosen/chosen.jquery.min.js"></script>
            <script src="~/Scripts/package/transactionPackage.js"></script>
            <script>
                $(function () {
                    $('.min-chart#chart-sales').easyPieChart({
                        barColor: "#4caf50",
                        onStep: function (from, to, percent) {
                            $(this.el).find('.percent').text(Math.round(percent));
                        }
                    });
                });
            </script>

            <script>
                $(".button-collapse").sideNav();

                // Data Picker Initialization
                $('.datepicker').pickadate();


                // Material Select Initialization
                $(document).ready(function () {
                    $('.mdb-select').material_select();
                });


                // Tooltips Initialization
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>
            <footer class="main-footer" style="text-align: center">
                <strong>
                    Copyright © 2017 <a href="#">TEAM</a>
                </strong>
            </footer>
</body>

</html>
@*<script>
    function LogoutMember() {
        $.ajax({
            type: "post",
            url: "/Login/LogoutMember",
            async: true,
            data: {},
            beforeSend: function () {
                //$('#imgLoading').css("display", "");
            },
            success: function (d) {
                window.location.href = '/';
            },
            error: function () {

            }
        });
    }
</script>*@