
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign Up</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/Content/css/mdb.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/Content/css/style.css" rel="stylesheet">
    @*<link href="/Content/alertify.css" rel="stylesheet">*@
</head>

<body class="fixed-sn white-skin">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 login-form mx-auto float-none">

                <!--Form with header-->
                @*@if ((string)Session["Language"] == "EN")
                    {*@
                <div class="card" style="top:-75px">
                    <div class="card-block">
                        <!--Header-->
                        <div class="form-header">
                            <h3><i class="fa fa-lock"></i> Sign Up </h3>
                        </div>
                        <!--Body-->
                        <div class="md-form">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="text" id="txtEmail" name="txtEmail" onfocus="ResetForm('lbEmail', this.value)" placeholder="username" class="form-control validate">
                            <label id="lbEmail" style="color:red; display:none" class=""></label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" id="txtPassword" name="txtPassword" onfocus="ResetForm('lbPass', this.value)" placeholder="password" class="form-control validate">
                            <label id="lbPass" style="color:red; display:none" class=""></label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" id="txtRePassword" name="txtRePassword" onfocus="ResetForm('lbRePass', this.value)" placeholder="comfirm password" class="form-control validate">
                            <label id="lbRePass" style="color:red; display:none" class=""></label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-facebook prefix"></i>
                            <input type="text" id="txtFullName" name="txtFullName" onfocus="ResetForm('lbFullname', this.value)" placeholder="fullname" class="form-control validate">
                            <label id="lbFullname" style="color:red; display:none" class=""></label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-mobile prefix"></i>
                            <input type="text" id="txtMobile" name="txtMobile" onfocus="ResetForm('lbMobile', this.value)" placeholder="mobile" class="form-control validate" onkeypress="return functionx(event)">
                            <label id="lbMobile" style="color:red; display:none" class=""></label>

                        </div>
                        <div class="g-recaptcha" data-sitekey="6LfhJyUUAAAAANmMFHQ7ARUoDEwgs3Zy-W6bwCo1" style="margin-left: 49px;"></div><br />

                        <div class="text-center">
                            @*<img src="/Images/loading.gif" id="imgLoading" style="position: absolute; display:none">*@
                            <button class="btn btn-primary" onclick="return RegisterMember()">Sign Up</button>
                            <button class="btn btn-primary" onclick="window.location.href='/login'">Sign In</button>
                        </div>
                    </div>

                </div>
                @*}
                    else
                    {*@
                @*<div class="card">
                            <div class="card-block">
                                <div class="form-header">
                                    <h3><i class="fa fa-lock"></i> Đăng Ký </h3>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="text" id="txtEmail" name="txtEmail" onfocus="ResetForm(1)" class="form-control">
                                </div>

                                <div class="md-form">
                                    <i class="fa fa-lock prefix"></i>
                                    <input type="password" id="txtPassword" name="txtPassword" onfocus="ResetForm(3)" class="form-control">
                                </div>
                                <div class="text-center">
                                    <img src="/Images/loading.gif" id="imgLoading" style="position: absolute; display:none">
                                    <button class="btn btn-primary" onclick="return RegisterMember()">Đăng ký</button>
                                    <button class="btn btn-primary" onclick="window.location.href='/dang-nhap'">Đăng nhập</button>
                                </div>
                            </div>

                        </div>
                    }*@
            </div>
        </div>
    </div>
    @*<input type="hidden" id="hdRedirect" value="@ViewData["UrlRedirect"]" />
        <input type="hidden" id="hdLanguage" value="@Session["Language"]" />*@
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/Content/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/Content/js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/Content/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/Content/js/mdb.min.js"></script>

    <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>

    @*<script type="text/javascript" src="/Scripts/alertify.js"></script>
    <script type="text/javascript" src="/Scripts/register/register.js"></script>*@
</body>
</html>