
@{
    ViewBag.Title = "WalletEU";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style type="text/css">
    .box {
        position: relative;
        border-radius: 3px;
        background: #ffffff;
        border-top: 3px solid #d2d6de;
        margin-bottom: 20px;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    .box-body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px;
    }

    .table-responsive {
        overflow-x: auto;
        min-height: 0.01%;
    }

    .box .icon-wallet {
        width: 2%;
        padding-top: 18px;
        padding-bottom: 10px;
        padding-right: 0px;
        vertical-align: middle !important;
    }

    .box .wallet-amount {
        width: 20%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 20px;
        color: #85bb65;
        vertical-align: middle !important;
    }

    .table {
        margin-bottom: unset !important;
    }

    .btn_ {
        width: 160px;
    }

    .sweet-overlay {
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        z-index: 1040;
    }

    .sweet-alert-custom {
        width: 512px !important;
    }

    /*.showSweetAlert {
        animation: showSweetAlert 0.3s;
    }

    .hideSweetAlert {
        animation: hideSweetAlert 0.3s;
    }*/
</style>
<main class="" style="padding-top: 5.5rem; margin-left: 5%;margin-right: 5%;">

    <div class="container-fluid">

        <!-- First row -->
        @{Html.RenderAction("PartialDashboard", "Common", null);}
        <!-- /.First row -->
        <!--Second row-->
        <div class="row mb-0">
            <div class="col-lg-12">
                <!-- Widget: user widget style 1 -->
                <div class="box">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="box-body table-responsive">
                        <table class="table table-hover table-striped wallet-table">
                            <tbody>
                                <tr>
                                    <th class="icon-wallet">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <path d="M21 18v1c0 1.1-.9 2-2 2H5c-1.11 0-2-.9-2-2V5c0-1.1.89-2 2-2h14c1.1 0 2 .9 2 2v1h-9c-1.11 0-2 .9-2 2v8c0 1.1.89 2 2 2h9zm-9-2h10V8H12v8zm4-2.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"></path>
                                        </svg>
                                    </th>
                                    <th class="wallet-amount">
                                        <i class="fa fa-btc"></i><span class="btcAmount">@ViewBag.NumberEUCoin</span>
                                    </th>
                                    <th>
                                        <button class="btn btn_ bg-olive blue darken-3" data-toggle="modal" data-target="#deposit">Deposit</button>
                                        <button class="btn btn_ bg-olive deep-purple darken-4" data-toggle="modal" data-target="#withdraw">Withdraw</button>
                                        <button class="btn btn_ bg-olive purple" data-toggle="modal" data-target="#buy">Buy</button>
                                        <button class="btn btn_ bg-olive orange" data-toggle="modal" data-target="#buy-package">Buy Package</button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!--/.Second row-->
        <!-- Third row -->

        <div class="row">

            <!-- First column -->

            <div class="col-md-6">
                <!--Panel-->
                <div class="card mb-r">
                    <div class="card-header white-text">
                        Transaction Package
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Package Name</th>
                                        <th>Info</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyTransactionPackage">
                                    <tr>
                                        <td><span class="badge green">Open</span></td>
                                        <td>Lorem ipsum dolor</td>
                                        <td>John Doe</td>
                                        <td class="hour"><small><span class="grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                    </tr>
                                    <tr>
                                        <td><span class="badge green">Open</span></td>
                                        <td>Lorem ipsum dolor</td>
                                        <td>John Doe</td>
                                        <td class="hour"><small><span class="grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                    </tr>
                                    <tr>
                                        <td><span class="badge warning-color">In progress</span></td>
                                        <td>Lorem ipsum dolor</td>
                                        <td>John Doe</td>
                                        <td class="hour"><small><span class="grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                    </tr>
                                    <tr>
                                        <td><span class="badge warning-color">In progress</span></td>
                                        <td>Lorem ipsum dolor</td>
                                        <td>John Doe</td>
                                        <td class="hour"><small><span class="grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                    </tr>
                                    <tr>
                                        <td><span class="badge red">Closed</span></td>
                                        <td>Lorem ipsum dolor</td>
                                        <td>John Doe</td>
                                        <td class="hour"><small><span class="grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                    </tr>
                                    <tr>
                                        <td><span class="badge red">Closed</span></td>
                                        <td>Lorem ipsum dolor</td>
                                        <td>John Doe</td>
                                        <td class="hour"><small><span class="grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                    </tr>
                                    <tr>
                                        <td><span class="badge red">Closed</span></td>
                                        <td>Lorem ipsum dolor</td>
                                        <td>John Doe</td>
                                        <td class="hour"><small><span class="grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <!--/.Panel-->
                <!-- Panel -->


                <div class="card mb-r">
                    <div class="card-header white-text">
                        Recent comments and replies
                    </div>
                    <div class="card-block">

                        <table class="table no-header">
                            <tbody>
                                <tr>
                                    <td>John Doe</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                                    <td class="hour"><small><span class="grey-text float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                </tr>
                                <tr>
                                    <td>Merry Joe</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                                    <td class="hour"><small><span class="grey-text float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                </tr>
                                <tr>
                                    <td>Jessie Doe</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                                    <td class="hour"><small><span class="grey-text float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                </tr>
                                <tr>
                                    <td>Tyler Doe</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                                    <td class="hour"><small><span class="grey-text float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                </tr>
                                <tr>
                                    <td>Janusz Joe</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                                    <td class="hour"><small><span class="grey-text float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
                                </tr>
                            </tbody>
                        </table>

                        <a href="#" class="btn btn-primary waves-effect waves-light">See more</a>

                    </div>
                </div>
                <!-- /.Panel -->

            </div>

            <!-- /.First column -->

            <div class="col-md-6">

                <!--Panel-->
                <div class="card mb-r">
                    <div class="card-header white-text">
                        Users activity
                    </div>
                    <div class="card-block">
                        <div class="row mb-1">
                            <div class="col-4">
                                <small>Pages/Visits</small>
                                <h4>139 419</h4>
                            </div>
                            <div class="col-4">
                                <small>New visitors</small>
                                <h4>51.94%</h4>
                            </div>
                            <div class="col-4">
                                <small>Last week</small>
                                <h4>51 932</h4>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-4">
                                <small>Pages/Visits</small>
                                <h4>139 419</h4>
                            </div>
                            <div class="col-4">
                                <small>New visitors</small>
                                <h4>51.94%</h4>
                            </div>
                            <div class="col-4">
                                <small>Last week</small>
                                <h4>51 932</h4>
                            </div>
                        </div>

                        <div class="row mb-1">
                            <div class="col-4">
                                <small>Pages/Visits</small>
                                <h4>139 419</h4>
                            </div>
                            <div class="col-4">
                                <small>New visitors</small>
                                <h4>51.94%</h4>
                            </div>
                            <div class="col-4">
                                <small>Last week</small>
                                <h4>51 932</h4>
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary waves-effect waves-light">See more</a>
                    </div>
                </div>
                <!--/.Panel-->
                <!-- Panel -->
                <div class="card mb-r text-center py-3 danger-color white-text">
                    <div class="widget-icon-large mb-1">
                        <i class="fa fa-bell"></i>
                    </div>
                    <h4 class="h4-responsive">28 warning messages</h4>
                </div>
                <!-- /.Panel -->
                <!-- Panel -->
                <div class="row mb-1">
                    <div class="col-4">
                        <h4 class="h4-responsive"><span class="badge big-badge info-color">8K</span> Fans</h4>
                    </div>
                    <div class="col-4">
                        <h4 class="h4-responsive"><span class="badge big-badge primary-color">21K</span> Orders</h4>
                    </div>
                    <div class="col-4">
                        <h4 class="h4-responsive"><span class="badge big-badge secondary-color">8K</span> Fans</h4>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-4">
                        <h4 class="h4-responsive"><span class="badge big-badge stylish-color">14K</span> Total likes</h4>
                    </div>
                    <div class="col-4">
                        <h4 class="h4-responsive"><span class="badge big-badge success-color">14K</span> Users</h4>
                    </div>
                    <div class="col-4">
                        <h4 class="h4-responsive"><span class="badge big-badge default-color">1.2K</span> Online</h4>
                    </div>
                </div>
                <!-- ./Panel -->
            </div>

            <!-- Second column -->
            <!-- /.Second column -->

        </div>

        <!-- /.Third row -->

    </div>

</main>
<!--Modal deposit-->
<div class="modal fade in" id="deposit" style="display: none; padding-left: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Deposit to your wallet</h4>
            </div>
            @{Html.RenderAction("DepositBTC", "Common", null);}
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade in" id="buy-package" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Mining Package</h4>
            </div>
            <form method="POST" action="#" accept-charset="UTF-8" id="formPackage">
                <input name="_token" type="hidden" value="K4MVeuRwbjQwQ8gVl9nQaxiS6gGOWbac5FUI6Vzr">
                <div class="modal-body">
                    @{Html.RenderAction("BuyPackage", "Common", null);}
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="packageId" id="packageId" value="6">
                    <button class="btn btn-success btn-block" id="btn_submit" type="button">Buy Package</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="sweet-overlay" tabindex="-1" style="opacity: 0; display: none;"></div>



