
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main class="content js-content" style="min-height: 169px;padding-top: 50px;padding-bottom: 87px;">
    <!--MENU-->
    <div class="box-wrap">
      
        <div class="js-wrapper-fix">
            <div class="box-profile-cont" style="padding-top:10px">
                <section class="section">
                    <!-- First row -->
                    <div class="row">

                        <div class="col-lg-6">
                            <!--Card-->
                            <div class="card card-cascade narrower mb-r">
                                <div class="admin-panel info-admin-panel">
                                    <!--Card image-->
                                    <div class="view primary-color">
                                        <h5>Change Password</h5>
                                    </div>
                                    <!--/Card image-->
                                    <!--Card content-->
                                    <div class="card-block">
                                        <!-- Edit Form -->

                                        <form>
                                            <!--First row-->
                                            <div class="row" style="padding:0px; margin:0px">

                                                <div class="col-md-12">
                                                    <label id="lbEwallet">New Password</label>
                                                    <div class="md-form" style="padding:0px; margin:0px">
                                                        <input type="password" style="padding:0px; margin:0px" onfocus="ResetField(1)" id="txtNewPass" name="txtNewPass" class="form-control validate">

                                                    </div>
                                                    <label style="color:red" id="lbPassword"></label>
                                                </div>

                                            </div>

                                            <div class="row" style="padding:0px; margin:0px">

                                                <div class="col-md-12">
                                                    <label id="lbEwallet">Confirm New Password</label>
                                                    <div class="md-form" style="padding:0px; margin:0px">
                                                        <input type="password" style="padding:0px; margin:0px" onfocus="ResetField(2)" id="txtRePass" name="txtRePass" class="form-control validate">

                                                    </div>
                                                    <label style="color:red" id="lbRePass"></label>
                                                </div>

                                            </div>


                                            <div class="row">
                                                <img src="/Images/loading.gif" id="imgLoading" style="position: absolute; display:none">
                                                <div class="col-md-12 text-center">
                                                    <input type="button" style="padding:5px 30px; cursor:pointer; height:35px" onclick="return ChangePass()" value="Confirm" class="btn-primary">
                                                </div>
                                            </div>

                                        </form>

                                        <!-- Edit Form -->
                                    </div>
                                    <!--/.Card content-->
                                </div>
                            </div>
                            <!--/.Card-->
                        </div>

                    </div>
                </section>
            </div>
        </div>
       
    </div>
</main>


