
@{
    ViewBag.Title = "EditAccount";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main class="" style="padding-top: 5.5rem; margin-left: 5%; margin-right: 5%;">
    <div class="container-fluid">
        <!-- Section: Edit Account -->
        <section class="section">
            <!-- First row -->
            <div class="row">
                <!-- First column -->
                <div class="col-lg-4">

                    <!-- Card -->
                    <div class="card contact-card card-cascade narrower mb-r">
                        <div class="admin-panel info-admin-panel">
                            <!-- Card title -->
                            <div class="view primary-color">
                                <h5>Edit Photo</h5>
                            </div>
                            <!-- /.Card title -->
                            <!-- Card content -->
                            <div class="card-block text-center">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="User Photo" class="rounded-circle contact-avatar my-2 mx-auto" />

                                <p class="text-muted"><small>Profile photo will be changed automatically</small></p>

                                <button class="btn btn-primary">Upload New Photo</button><br>
                                <button class="btn btn-danger">Delete</button>
                            </div>
                            <!-- /.Card content -->
                        </div>
                    </div>
                    <!-- /.Card -->

                </div>
                <!-- /.First column -->
                <!-- Second column -->
                <div class="col-lg-8">
                    <!--Card-->
                    <div class="card card-cascade narrower mb-r">
                        <div class="admin-panel info-admin-panel">
                            <!--Card image-->
                            <div class="view primary-color">
                                <h5>Edit Account</h5>
                            </div>
                            <!--/Card image-->
                            <!--Card content-->
                            <div class="card-block">
                                <!-- Edit Form -->
                                <form>
                                    <!--First row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <input type="text" id="form1" class="form-control validate" value="Company, inc" disabled>
                                                <label for="form1" data-error="wrong" data-success="right">Company</label>
                                            </div>
                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <input type="text" id="form2" class="form-control validate">
                                                <label for="form2" data-error="wrong" data-success="right">Username</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.First row-->
                                    <!--First row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <input type="text" id="form81" class="form-control validate">
                                                <label for="form81" data-error="wrong" data-success="right">First name</label>
                                            </div>
                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <input type="text" id="form82" class="form-control validate">
                                                <label for="form82" data-error="wrong" data-success="right">Last name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.First row-->
                                    <!--Second row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <input type="email" id="form76" class="form-control validate">
                                                <label for="form76">Email address</label>
                                            </div>
                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <input type="text" id="form77" class="form-control validate">
                                                <label for="form77" data-error="wrong" data-success="right">Website Address</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.Second row-->
                                    <!--Third row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-12">
                                            <div class="md-form">
                                                <textarea type="text" id="form78" class="md-textarea"></textarea>
                                                <label for="form78">About me</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.Third row-->
                                    <!-- Fourth row -->
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <input type="submit" value="Update Account" class="btn btn-primary">
                                        </div>
                                    </div>
                                    <!-- /.Fourth row -->
                                </form>
                                <!-- Edit Form -->
                            </div>
                            <!--/.Card content-->
                        </div>
                    </div>
                    <!--/.Card-->
                </div>
                <!-- /.Second column -->
            </div>
            <!-- /.First row -->
        </section>
        <!-- /.Section: Edit Account -->
    </div>
</main>


